<div>
  <h1 class="Listed">About Us</h1>

  <p>Welcome to RatDaycare Center, where we provide a loving and safe environment for your beloved rats. Our team is dedicated to ensuring the well-being and happiness of every rat in our care.</p>

</div>