
    <header>
        <h1>Listed Rat Children</h1>
        </header>

        <div>

              {{#each listOfChildren}}
                <li>{{this.name}} - {{this.age}} years old</li>
            {{/each}}   
        </ul>
        </div>
    
