 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
        <h1>Rat Parents</h1>
        </header>
    <p>Rat Parents</p>
    <div>
        <p>Welcome to the Rat Parents page!</p>
        <p>Here you can find information about rat parenting, care tips, and more.</p>
        

  </body>
</html>