<header>
  <h1>Rat Parents</h1>
</header>
<p>Rat Parents</p>
<div>
  <p>Welcome to the Rat Parents page!</p>
  <p>Here you can find information about rat parenting, care tips, and more.</p>

  <ul>
    {{#each listOfParents}}
      <li>{{this.name}} - {{this.age}} years old</li>
    {{/each}}
  </ul>
</div>